<html>
    <head>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
    </head>
    <body>
        <h1 style="text-align: center;">Quiz 6</h1>
        <h1 style="text-align: center;">Multiple Instance</h1>
        <h1 style="text-align: center;">Archana Turaga, 1001859014</h1>
        <br>

        <br><br>
    
        <br><br>
        <h3 style="text-align: center;">P2</h3>
        <br>
        <div>
<p>
    <form action="/displayname" method="POST", method="GET">
       <h3> Enter your name, and no. of red and green stones</h3>
       <input type="text" name="p2name" placeholder="enter your name"><br>
       <input type="text" name="redstone" placeholder="enter 1-10 redstone"><br>
       <input type="text" name="greenstone" placeholder="enter 1-10 greenstone"><br>
       <input type="submit" id="button" name="Submit" value="Submit"/>
    </form>
</p>
    </body>
</html>
